[build]
  base = "frontend"
  publish = "frontend/build"
  command = "npm install && npm run build"
  ignore = "/bin/false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"