@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Bootstrap navbar-toggler visibility */
.navbar-toggler {
  display: block !important;
  border: 1px solid rgba(255,255,255,0.5) !important;
  padding: 0.25rem 0.5rem !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  width: 1.5em !important;
  height: 1.5em !important;
}

.navbar-collapse {
  background-color: inherit;
}

.navbar-nav .dropdown-menu {
  background-color: var(--bs-primary) !important;
}

.navbar-nav .dropdown-item {
  color: white !important;
}

.navbar-nav .dropdown-item:hover {
  background-color: rgba(255,255,255,0.1) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}